.flight-table {
    width: 100%;
    min-width: 400px;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.flight-table .flight-row {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
}
.flight-table .flight-info {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.flight-table .travel-times {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.flight-table .travel-times div {
    font-weight: bold;
}
.flight-table .flight-details {
    font-size: 0.6em;
    color: #777;
}
.flight-table .class-options {
    flex: 4;
    display: flex;
    justify-content: space-around;
}
.flight-table .class {
    text-align: center;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flight-table .price {
    color: red;
    font-weight: bold;
}
.flight-table .full {
    color: red;
    font-weight: bold;
}